* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
}

h1,
h2,
h3 {
    color: white;
}

h2 {
    font-size: 12rem;
    margin: 0 auto;
    width: fit-content;
}

a {
    color: white;
    text-decoration: none;
}

.intro > * {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    object-fit: cover;
    height: 100vh;
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
}

.intro {
    height: 130dvh;
  }

@keyframes reveal {
    0% {
        width: 30vw;
    }

    60% {
        width: 40vw;
        height: 60vh;
    }

    100% {
        width: 100%;
        height: 118vh;
    }
}