* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
}

h1,
h2,
h3 {
    color: white;
}

h1 {
    font-size: 2rem;
}

h2 {
    position: relative;
    font-size: 12rem;
    margin: 10rem auto;
    width: fit-content;
    z-index: -1;
}

main h2 {
    animation: fadein linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 40%;
}

a {
    color: white;
    text-decoration: none;
}

.status {
    font-family: unset;
}

.intro>* {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    object-fit: cover;
    height: 100vh;
    width: 100%;
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
}

.intro {
    height: 130dvh;
}

.highlight {
    color: rgba(255, 255, 255, 0.3);
}

@keyframes fadein {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-500%);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes reveal {
    0% {
        width: 30vw;
    }

    60% {
        width: 40vw;
        height: 60vh;
    }

    100% {
        max-width: 58rem;
        height: 80vh;
    }
}