* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    transition: 0.02s;
}

body {
    background-color: rgb(32, 32, 32);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: white;
    transition: 0s;
}

h1 {
    font-size: 2rem;
}

h2 {
    position: relative;
    font-size: 11rem;
    margin: 10rem auto 2rem auto;
    width: fit-content;
    z-index: -1;
}

/* main h2 {
    animation: fadein linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 40%;
} */

a {
    color: white;
    text-decoration: none;
}

.status {
    font-family: unset;
}

.intro img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    object-fit: cover;
    height: 80vh;
    width: 100%;
    max-width: 60rem;
    margin-bottom: 15rem;
    /* animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%; */

    z-index: 1;
}

.intro {
    /* height: 100dvh; */
}

.highlight {
    color: rgba(255, 255, 255, 0.3);
}

a.active {
    font-weight: 600;
}

a.active::before {
    content: "{ ";
}

a.active::after {
    content: " }";
}

@keyframes fadein {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-500%);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes reveal {
    0% {
        width: 30vw;
    }

    60% {
        width: 40vw;
        height: 60vh;
    }

    100% {
        max-width: 64rem;
        height: 80vh;
    }
}